<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="WordPress: http://localhost:6060" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
	<httpProtocol>
		<customHeaders>
			<add name="Access-Control-Allow-Origin" value="https://static.asribs.com" />
			<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
			<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
		</customHeaders>
	</httpProtocol>
  </system.webServer>
</configuration>
