#show_time {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 35px;
}
#show_second_f {

}
#show_second {
    font-size: 16pt;
    color: gold;
    border: 1px solid gold;
    width: 78px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-top: -24px;
    transform: translate(-50%,-35%);
    -webkit-transform: translate(-50%,-35%);
    -ms-transform: translate(-50%,-35%);
    -moz-transform: translate(-50%,-35%);
    padding-left: 10px;
    text-align: left;
}
.sub-content-title.timeAdjustHelper_title{
    font-size: 30pt;
}